@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#__next
 {
    @apply h-full;
    @apply font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

tspan.balance {
    fill: green;
    font-size: 10px;
}

.rd3t-label__title {
    font-size: 8px;
}

circle.node {
    fill: #0975F7;
    stroke: none;
}

text.link {
    font-size: 10px;
}
